@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

/*CARRUSEL INDEX*/
.carrusel {
  margin-top: 3rem; }
  .carrusel p {
    color: #fcfafa;
    font-family: 'Otomanopee One', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 3rem; }
  .carrusel .boton {
    margin-left: 10vw; }
  .carrusel button {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: white;
    font-size: 1.5rem; }

/*CARDS catálogo*/
.card-body {
  background-color: black; }
  .card-body .card-title {
    color: white; }
  .card-body .card-text {
    color: white; }

/*aqui ba la barra de paso de los html de contenido*/
.pagination {
  margin-left: 40vw; }
  .pagination a {
    color: white; }
  .pagination .page-link {
    background-color: black; }

/*AQUI SE ENCUNETRAN LOS ESTILOS DE LA BARRA LATERAL DE LOS CATALOGOS*/
.extra {
  background-color: black;
  border: white solid; }
  .extra a {
    background-color: black;
    color: white; }

/*AQUI VA LOS ESTILOS DEL FORMULARIO DE CONTACTO*/
.formulario {
  color: white; }

#one {
  color: white; }

/*NAVBAR*/
nav {
  background-color: black; }
  nav li:hover {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); }
  nav img {
    border-radius: 50%; }

body {
  background-image: url(../imagenes/fondo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100vh;
  margin: 0;
  z-index: unset;
  /*AQUI ESTA UNA ANIMACIÓN QUE LE PUSE AL HTML "NOSOTROS"*/
  /*AQUI VAN LOS EFECTOS DEL TEXTO DEL INDEX*/ }
  body h1 {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rampart One', cursive;
    text-align: center; }
  body h4 {
    color: white; }
  body .nosotros {
    color: white;
    text-align: center;
    font-size: 3vw; }
  body .marcas {
    background-color: black; }
  body .contenedors {
    height: 6vw;
    width: 100%;
    color: white;
    font-size: 5vw;
    overflow: hidden;
    margin-bottom: 6vw;
    text-align: center;
    left: 0.5rem;
    margin-top: 7vw;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rampart One', cursive; }
    body .contenedors ul {
      list-style: none;
      animation: cambiar 8s infinite;
      padding: 0; }
      body .contenedors ul #diferent {
        font-size: 4vw; }

@keyframes cambiar {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  25% {
    margin-top: -9vw; }
  50% {
    margin-top: -9vw; }
  55% {
    margin-top: -16vw; }
  80% {
    margin-top: -16vw; } }
  body .principal {
    font-size: 3.5vw;
    color: white;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif; }

/*AQUI VA EL FOOTER*/
/* Credit to https://epicbootstrap.com/snippets/footer-basic */
footer {
  background-color: black;
  bottom: 0;
  top: 1000px;
  position: sticky;
  width: 100%;
  padding: 0; }
  footer img {
    border-radius: 50%; }
  footer .header-font {
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fd1506; }
  footer .fa-facebook {
    color: #3b5998; }
  footer .fa-linkedin {
    color: #0077B5; }
  footer .fa-twitter {
    color: #4099FF; }
  footer .fa-google {
    color: #d34836; }
  footer .bg-primary {
    background-color: #000 !important; }
  footer .bg-circle {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%; }

.bg-circle-outline {
  width: 50px;
  height: 50px;
  color: smoke;
  padding: 8px 2px;
  border: 2px solid;
  border-color: smoke;
  border-radius: 50%; }

.bg-circle a, a:hover, .media a:focus {
  text-decoration: none !important;
  outline: none;
  color: #ececec; }

.bg-circle-outline a, a:hover, .media a:focus {
  text-decoration: none !important;
  outline: none;
  color: #ececec; }

.footer p {
  margin: 0; }

.footer img {
  max-width: 100%; }

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase; }

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D; }

.footer ul li a {
  padding: 0 0 5px 0;
  display: block; }

.footer a {
  color: #78828D; }
